<%
  luci.sys.reboot()
%>

<%+header%>

<link href="/freifunk/assistent/assistent.css" rel="stylesheet" />
<div class="section">
  <div class="info alert-message">
    <p class="success">
     Když jste udělali všechna nastavení, restartujte router. Po restartování routeru bude vše nastaveno.
        Vítejte v síťi Freifunk!

    </p>

    <p>
    K dispozici jsou také služby v oblasti Freifunk síti. Seznam umožňuje zobrazit
        v  hlavním menu, podslužby uvidíte až se váš router restartuje.

    </p>
  </div>
</div>

<%+footer%>

